<h1 class="centered"> AARON'S SITE IS COMING SOON!!! </h1>

<img id="frog-gif" alt="all-hail-the-hypno-toad" src="http://gifmansion.com/GM/uploads/2012/06/rainbowfrog.gif">

<h2 class="centered"> in the meantime, here're some links:</h2>

<ul>
  <li><a href="https://www.linkedin.com/profile/view?trk=hp-identity-view-name&id=129741894" id="linkedIn">linkedin</a></li>
  <li id="middle"><a href="https://github.com/afbresley" id="github">github</a></li>
  <li><a href="https://soundcloud.com/aaronfosterbresley" id="soundCloud">music</a></li>
</ul>