<section id="main">

<div id="nav">
	<ul>
		<li>
			<a href="#/" id="home">home</a>
		</li>

		<li>
			<a href="#/bio" id="bio">bio</a>
		</li>

		<li>
			<a href="#/projects" id="projects">projects</a>
		</li>

		<li>
			<a href="#/resume" id="resume">resume</a>
		</li>

		<li>
			<a href="https://github.com/afbresley" id="github">github</a>
		</li>

		<li>
			<a href="https://www.linkedin.com/profile/view?trk=hp-identity-view-name&id=129741894" id="linkedIn">linked in</a>
		</li>

	</ul>
</div>

<div id="content"></div>

</section>


