/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
header, body, h1, h2, a, ul, li, div, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Andale Mono", AndaleMono, monospace;
	width: 1000px;
	margin-top: 75px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

/*
.group:after {
	content: "";
	clear: both;
	display: block;
}

#main {
	border: 1px solid black;
	border-radius: 10px;
	margin: auto;
	background: #bbb;
	padding: 20px;
	margin-bottom: 100px;
	min-height: 400px;
}

li {

}

/* --- NAV BAR --- 

#nav {
	/*float: right;
}

#nav > ul {
	/*float: left;
}

#nav > ul > li {
	/*display: inline-block;
	font-weight: bold;
	font-size: 22px;
}


/* --- HOME PAGE --- 

.home {

}

.home > h1 {
	font-weight: bold;
	font-size: 24px;
	margin-right: 25%;
	float: right;
	margin-top: 15px;
}

.home > p {
	margin-top: 45px;
	clear: left;
}

.home > div {
	display: inline;
	display: absolute;
}

.home > div > img {
	position: relative;
	margin-top: -120px;
	float: right;
	border: 1px solid black;
	/*display: block;
	/*border: 2px solid blue;
}

/* --- BIO PAGE --- 

.bio {

}

.bio > ul {
	margin-top: 20px;
}

.bio > ul > li {
	margin: 10px 0;

}

/* --- PROJECTS PAGE --- 

.projects {
	height: 637px;
}

.projects > h1 {

}

.projects > ul {
	float: right;
}

.projects > ul > li {
	float: left;
}

.project-h2 {
	font-weight: bold;
	position: relative;
	top: 15px;
}

.projects > ul > li > h2:hover {
	color: #16e5f8;
}

.projects > ul > li > a > img {
	height: 200px;
	width: auto;
	border: 1px solid black;
	margin:0 22px;
}

#second-row {
	top: 800px;
}

#ff-h2 {
	margin-left: 86px;
}

#sn-h2 {
	margin-left: 120px;
}

#dfr-h2 {
	margin-left: 52px;
}

#cs-h2 {
	margin-left: 70px;
	margin-top: 100px;
}

/*--- RESUME PAGE ---

#resume-pdf {
	position: relative;
	left: 50px;
	top: 35px;
	margin-bottom: 100px;
}

/*--- SNAKE PAGE ---

.snake-page > h1 {
	position: relative;
	font-weight: bold;
	font-size: 20px;
	margin-left: 180px;
	top: 30px;
}


/* --- not terrible css --- */

h1 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 15px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}

ul {
	width: 500px;
	margin-left: 380px;
}

li {
	font-size: 14px;
	float: left;
	margin: 0 5px;
}

#middle {
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 0 10px;
}

#frog-gif {
	width: 150px;
	margin-left: 425px;
	margin-bottom: 15px;
}

.centered {
	text-align: center;
}
