<section class="bio">
	<ul>

		<li>
			I’m a self-taught web developer with experience in Ruby on Rails, JavaScript, and Backbone.js. I just moved to NYC and am looking for gainful employment.
		</li>

		<li> 
			Ever since I graduated in May of last year I have been working on expanding my programming knowledge both in front and back end web development. I have also worked hard to learn TDD and the industry standards.
		</li>

		<li>
			So please, check out the website and projects, and let me know what you think!
		</li>

</section>