<ul>
	<li><a href="#" id="home">home</a></li>
	<li><a href="#" id="github">github</a></li>
	<li><a href="#" id="bio">bio</a></li>
	<li><a href="#" id="projects">projects</a></li>
	<li><a href="#" id="linkedIn">linked in</a></li>
</ul>

pic

<p> hi i am aaron foster bresley. check out my stuff </p>

