<section class="home">

	<div class="img-box">
		<img src="http://i.imgur.com/EfukA3z.jpg" alt="me-pic">
	</div>

	<h1>Good morning!</h1> 
	<br>
	<p>I am Aaron Foster Bresley. Welcome to my résumé site.</p>

</section>


