<section class="projects">

	<h1>PROJECTS:</h1>

	<ul>
		<li>
			<a href="http://www.findfoods.org/">findfoods</a>
		</li>
		<li>
			<a href="#snake">snakes</a>
		</li>
		<li>
			<a href="github.com/afbresley/please-dont-feed-the-robot">please don't feed the robot</a>
		</li>
	</ul>
	
</section>