<section class="projects">

	<ul class="group">
		<li class="project">
			<a href="http://www.findfoods.org/">
				<h2 class="project-h2" id="ff-h2">FindFoods.org</h2>
				<img src="http://i.imgur.com/JZU9AlI.png" alt="findfoods-image"/>
			</a>
		</li>
		<li class="project">
			<a href="#snake">
				<h2 class="project-h2" id="sn-h2">Snake Game</h2>
				<img src="http://i.imgur.com/2IfnYAZ.png" alt="snake-image"/>
			</a>
		</li>
		<li class="project">
			<a href="http://github.com/afbresley/please-dont-feed-the-robot">
				<h2 class="project-h2" id="dfr-h2">please don't feed <br> &nbsp &nbsp the robot</h2>
				<img id="second-row" src="http://i.imgur.com/3qFMgB5.png" alt="robot-image"/>
			</a>
		</li>

		<li class="project">
				<h2 id="cs-h2">More coming soon!</h2>
		</li>
	</ul>
	
</section>